<div class="container content">
	<div class="row">
		<div class="col-md-10 offset-md-2">
			<span class="anchor" id="formLogin"></span>
			
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-6">Ejemplo</h3>
				</div>
				<div class="card-body">
					<form >
						<div class="form-group">
							<label for="nombre">Nombre</label>
							<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre >
						</div>
						<div  *ngIf="div2">
						<button type="submit" class="btn btn-primary" (click)="empezar(nombre.value)">Empezar!</button>	
						</div>

					</form>
				</div>
			</div>

		</div>

	</div>
	
</div>
<div class="container content" *ngIf="div1">
	<div class="row">
		<div class="col-md-10 offset-md-2">
			<app-listado ></app-listado>	
		</div>
		
	</div>	
</div>