
<!-- 
  El uso de HostBinding se encuentra en la directiva directiva.directive.ts en /app

   -->
<div class="container content" >
  <div class="miFuente">
    <h1>
      {{title}} - Ejemplo de Acertijos
    </h1>
    <br>
    <h1>
      Autor: José Daniel Albuja Ortega
    </h1>
    <br>
  </div>
  <dir class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-2">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </dir>
  

</div>