<div class="col-md-10 offset-md-1">
	<div class="card-content">
		<div class="card-img">
			<img src="./../../assets/img/imagenAngular.png" alt="" >
			<span><h4>Responda</h4></span>
		</div>
		<div class="card-desc">
			<h3>Pregunta</h3>
			<li *ngFor="let d of preguntas.pregunta" >{{d}}
				<input type="text" class="form-control"  placeholder="Su respuesta..." #respuesta />
			</li>
			<div class="col-md-5 offset-md-4">
				<button type="submit" appDirectiva >Ok</button>	
			</div>
			
		</div>
	</div>
</div>